@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: "Noto Sans", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-body);
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
